/*Blog*/

.gallery {
    margin: 8px -16px;
    header{
        margin: 50px 0;
        h1{
            text-align: center;
        }
    }
    footer{

    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &__item {
        float: left;
        width: 25%;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        @media screen and (max-width: 900px) {
            width: 50%;
        }

        &_content {
            background-color: white;
            padding: 10px;

            img {
                width: 100%;
            }
        }
    }

}


