/*Books*/
.book {
    border: 1px solid rosybrown;

    &__title, &__subtitle {
        margin-bottom: 1em;
        line-height: 1.8;

    }

    &__title {
        color: rebeccapurple;
    }

    &__subtitle {
        color: blue;

    }

    &__content {


    }
}
