/*Common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    margin: 50px auto;

}

input {
    padding-left: 15px;

    &::placeholder {
        color: #b5b5b5;
    }
}


header {
    padding: 72px 0;
    text-align: center;

    h1,h2 {
        margin: 50px 0;
    }
}
