/*Home*/
.home {
    hr {
        width: 100px;
        margin: 50px auto;
    }

    img {
        min-height: 270px;
        max-height: 684px;
        width: 100%;

    }

    p {
        display: block;
        margin: 0 0 1em 1em;
        font-size: 1.5em;
        text-align: center;
    }

    .home_header {
        figure {
            width: 100vw;
            max-width: 100vw;
            position: relative;
            margin: inherit;

            img {
                margin: 0;
                display: block;
            }
        }

        .return_to_you {

        }
    }

    .call_to_action {
        margin-bottom: 100px;

        fieldset {
            legend{

            }
            display: flex;
            flex-direction: row;

            border: none;
        }
    }
}
