/*Home*/
.welcome {
    img {
        min-height: 270px;
        max-height: 684px;
        width: 100%;
    }
}

.return_to_you {
    img {
        width: 825px;
        aspect-ratio: auto 825 / 583;
        height: auto;
        max-width: 100%;
    }
}
